<!DOCTYPE html>
<html lang="en" dir="ltr>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block style_block %}

{% endblock %}
    <title>GO</title>

  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
      <a class="navbar-brand" href='{% url 'home' %}'>E-Commerce</a>
        </div>
        <ul class="nav navbar-nav">

      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Electronics
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/search/?q=smartphone">SmartPhones</a></li>
         <li><a href="/search/?q=laptop">Laptops</a></li>
         <li><a href="/search/?q=tv">TVs</a></li>
       </ul>
     </li>

     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fashion
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Male</a></li>
         <li><a href="#">Female</a></li>
         <li><a href="#">Kids</a></li>
       </ul>
     </li>
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sports
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Cricket</a></li>
         <li><a href="#">Hockey</a></li>
         <li><a href="#">Football</a></li>
       </ul>
     </li>
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entertainment
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Music</a></li>
         <li><a href="#">Video Games</a></li>
         <li><a href="#">Dance</a></li>
       </ul>
     </li>
    </ul>
        </ul>
        <form class="navbar-form navbar-left" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      <li><a href="{% url 'userApp:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'userApp:user_login' %}?next={{request.build_absolute_uri }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
    <a href="{% url 'cart:cartHome' %}" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
      </div>
    </nav>
{% block body_block %}
{% endblock %}
  </body>
</html>
